<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%categories.forEach((category)=>{%>
        <ul>
            <li>Name= <%= category.name %></li>
            <li>description= <%= category.description %></li>
        </ul>
        <a href="/editcategoryform/<%= category.id%>">
            <button>Edit</button>
        </a>
        <a href="/deletecategory/<%= category.id%>">
            <button>delete</button>
        </a>
    <%})%>
    
    <br><a href="/addcategoryform">
        <button>Add a new category</button>
    </a>
</body>
</html>