<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Video Game Store </h1>
    <a href="/items">
        <button>Show All Games</button>
    </a>
    <a href="/categories">
        <button>Manage Categories</button>
    </a>
</body>
</html>